* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  width: 100vw;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
