.Main {
  h4 {
    margin: 20px;
  }
  table,
  th,
  td {
    padding: 6px;
    text-align: center;
    border-collapse: collapse;
  }
  thead {
    font-weight: 900;
  }
  table {
    margin: 20px;
  }
}
