<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AuthPage</title>
</head>
<body>
  <h1>
    Auth <%= status %>
  </h1>
</body>
<script>
  window.close();
</script>
</html>
