@import './normalize.module.scss';
$primary-color: #5a3796;

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    padding: 0px;
    margin: 0px;
  }
}
